<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Versus Fighting Tournament-->
    <bean id="versusFightingMenuAction" class="org.isma.web.versusfighting.action.VersusFightingMenuAction">
    </bean>
    <bean id="versusFightingPlayersAction" class="org.isma.web.versusfighting.action.VersusFightingPlayersAction">
        <constructor-arg ref="versusFightingManager"/>
    </bean>
    <bean id="versusFightingGameSettingsAction" class="org.isma.web.versusfighting.action.VersusFightingGameSettingsAction">
        <constructor-arg ref="versusFightingManager"/>
    </bean>
    <bean id="versusFightingFightersChoiceAction"
          class="org.isma.web.versusfighting.action.VersusFightingFightersChoiceAction">
        <constructor-arg ref="versusFightingManager"/>
    </bean>
    <bean id="versusFightingFightAction" class="org.isma.web.versusfighting.action.VersusFightingFightAction">
        <constructor-arg ref="versusFightingManager"/>
    </bean>
    <bean id="versusFightingResultAction" class="org.isma.web.versusfighting.action.VersusFightingResultAction">
        <constructor-arg ref="versusFightingManager"/>
    </bean>
</beans>
