<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <!-- VGTournament -->
    <bean id="vgTournamentSchemaGenerationHibernateDao"
          class="org.isma.web.versusfighting.dao.VGTournamentSchemaGenerationHibernateDao">
        <constructor-arg ref="sessionFactoryVGTournament"/>
    </bean>
    <bean id="vgTournamentMockDao" class="org.isma.web.versusfighting.dao.VGTournamentMockDao"/>
    <bean id="vgTournamentHibernateDao" class="org.isma.web.versusfighting.dao.VGTournamentHibernateDao">
        <constructor-arg ref="sessionFactoryVGTournament"/>
    </bean>


</beans>
